<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Code:Seed 星火之歌事前登錄受付中</title>
    <meta http-equiv="keywords" content="Code:Seed 星火之歌事前登錄受付中">
    <meta property="og:image" content="" />
    <meta property="og:description" content="Code:Seed 星火之歌事前登錄受付中" />
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <meta name="viewport"
        content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>
        .fb_iframe_widget {
            display: inline-block;
            position: absolute !important;
            left: 0 !important;
            top: .2rem !important;
        }

        ._2tga._8j9w {
            height: 34px !important;
            padding: 0 20px !important;
        }


        /* CSS3过度及动画 */
        .one,
        .two,
        .three,
        .four,
        .five,
        .last {
            overflow: hidden;
        }

        .bg1 {
            transition: all 1s;
            bottom: -1rem;
        }

        .active .bg1 {
            bottom: .4rem !important;
            transition-delay: 0.5s;
        }

        /* 预约 */
        .bg2_on {
            width: 1.505rem;
        }

        .active .bg2_on {
            width: 3.01rem !important;
            transition-delay: .2s;
        }

        .bg2 {
            transition: all 1s;
            top: 0rem;
        }

        .active .bg2 {
            top: .56rem !important;
            transition-delay: .6s;
        }

        .bg2_1 {
            transition: all 1s;
            top: 0rem;
        }

        .active .bg2_1 {
            top: .2rem !important;
            transition-delay: .7s;
        }

        .bg2_2 {
            transition: all 1s;
            top: 0rem;
        }

        .active .bg2_2 {
            top: .56rem !important;
            transition-delay: .8s;
        }

        .bg2_3 {
            transition: all 1s;
            top: 7rem;
        }

        .active .bg2_3 {
            top: 1.6rem !important;
            transition-delay: .6s;
        }

        .bg2_4 {
            opacity: 0;
            transition: all 1s;
            top: 9.6rem;
        }

        .active .bg2_4 {
            opacity: 1;
            top: 5.47rem !important;
            transition-delay: .7s;
        }

        .bg2_5 {
            transition: all 1s;
            top: 10rem;
            opacity: 0;
        }

        .active .bg2_5 {
            opacity: 1;
            top: 7.3rem !important;
            transition-delay: .8s;
        }

        /* 预约模块 */
        .bgt_1{
            transition: all 1s;
            top: -1rem;
            opacity: 0;
        }
        .active .bgt_1{
            opacity: 1;
            top: 0 !important;
            transition-delay: .8s;
        }

        .bgt_2{
            transition: all 1s;
            left:-10rem;
            opacity: 0;
        }
        .active .bgt_2{
            opacity: 1;
            left: 0 !important;
            transition-delay: .8s;
        }

        .bgt_3{
            transition: all 1s;
            right: -10rem;
            opacity: 0;
        }
        .active .bgt_3{
            opacity: 1;
            right: 0 !important;
            transition-delay: .8s;
        }

        /* 种火 */
        .bg3 {
            transition: all 1s;
            top: -13rem;
            opacity: 0;
        }

        .active .bg3 {
            opacity: 1;
            top: 0 !important;
            transition-delay: .7s;
        }

        .bg3_1 {
            transition: all 1s;
            top: 10rem;
            opacity: 0;
        }

        .active .bg3_1 {
            opacity: 1;
            top: 0 !important;
            transition-delay: .7s;
        }

        .bg3_2 {
            transition: all 1s;
            top: -13rem;
            opacity: 0;
        }

        .active .bg3_2 {
            opacity: 1;
            top: 0 !important;
            transition-delay: .7s;
        }

        .current .bg3_center {
            opacity: 0;
            top: 13rem !important;
            transition-delay: .7s;
        }

        .current .bg3_l_r {
            opacity: 0;
            top: -13rem !important;
            transition-delay: .7s;
        }

        /* 世界 */
        .bg4_1 {
            transition: all 1s;
            left: -5rem;
            opacity: 0;
        }

        .active .bg4_1 {
            opacity: 1;
            left: 0 !important;
            transition-delay: .7s;
        }

        .bg4_4 {
            transition: all 1s;
            left: -5rem;
            opacity: 0;
        }

        .active .bg4_4 {
            opacity: 1;
            left: 2.65rem !important;
            transition-delay: .7s;
        }

        .bg4_2 {
            transition: all 1s;
            top: -13rem;
            opacity: 0;
        }

        .active .bg4_2 {
            opacity: 1;
            top: 0 !important;
            transition-delay: .7s;
        }

        .bg4_3 {
            transition: all 1s;
            right: -5rem;
            opacity: 0;
        }

        .active .bg4_3 {
            opacity: 1;
            right: 0 !important;
            transition-delay: .7s;
        }

        .bg4_5 {
            transition: all 1s;
            right: -5rem;
            opacity: 0;
        }

        .active .bg4_5 {
            opacity: 1;
            right: 2.1rem !important;
            transition-delay: .7s;
        }

        /* 资料 */
        /* .bg5_1 {
            transition: all 1s;
            left: -5rem;
            opacity: 0;
        }

        .active0 .bg5_1 {
            opacity: 1;
            left: 0 !important;
            transition-delay: .7s;
        }

        .bg5_2 {
            transition: all 1s;
            right: -5rem;
            opacity: 0;
        }

        .active0 .bg5_2 {
            opacity: 1;
            right: 0 !important;
            transition-delay: .7s;
        }

        .bg5_3 {
            transition: all 1s;
            right: -5rem;
            opacity: 0;
        }

        .active0 .bg5_3 {
            opacity: 1;
            right: 4.28rem !important;
            transition-delay: .7s;
        } */
    </style>
</head>

<body>
    <div id="fullpage">
        <div class="section one">
            <div class="one-title-background">
                <video id="video" width="100%" height="100%" class="one-background-video" muted="muted" data-autoplay
                    autoplay loop poster="../images/index_01.jpg">
                    <source src="../video/video.mp4" type="video/mp4">
                </video>
            </div>
            <div class="one-title-button animated">
                <a href="javascript:" class="one-title-button-play play">
                    <span class="title-button-play-title">PV 001</span>
                </a>
            </div>
            <!-- <span class="one_logo"></span> -->
            <video id="logoVideo" width="100%" height="100%" class="one_logo" data-autoplay autoplay loop muted>
                <!-- <source src="../video/logo.mp4"> -->
            </video>
            <div class="one_download bg1">
                <div class="one_con">
                    <a href="#" class="btn"><i></i></a>
                    <a href="#" class="btn"><i></i></a>
                    <a href="#" class="btn"><i></i></a>
                    <a href="#參與預約">
                        <i class="video_wrap"></i>
                        <i class="video_in">立即预约</i>
                    </a>
                    <em></em>
                </div>
            </div>
        </div>
        <div class="section two">
            <div class="two_l" id="exp1"></div>
            <div class="two_r"></div>
            <div class="two_l_b"></div>
            <div class="two_r_t"></div>
            <div class="two_r_b"></div>
            <div class="two_con">
                <div class="two_num_bg bg2">
                    <div class="two_num" id="number">
                    </div>
                    <!-- <i class="bg2_on"></i> -->
                </div>

                <div class="two_pos_chilun bg2_1"></div>
                <div class="two_pos bg2_2"></div>
                <ul class="bg2_3" id="process_ul">
                    <li>
                        <div class="two_title">
                            <em class="on">1</em>
                            <!-- <div class="circle circle1"></div>
                            <div class="circle circle2"></div> -->
                        </div>
                        <span>50,000<i></i></span>
                        <div class="two_pic_img">
                            <div class="corner none"><i></i></div>
                            <img src="../images/c1.png" alt="" class="none">
                            <img src="../images/u1.png" alt="">
                        </div>

                    </li>
                    <li>
                        <div class="two_title">
                            <em class="on">2</em>
                        </div>
                        <span>10,000,0<i></i></span>
                        <div class="two_pic_img">
                            <div class="corner none"><i></i></div>
                            <img src="../images/c2.png" alt="" class="none">
                            <img src="../images/u2.png" alt="">
                        </div>

                    </li>
                    <li>
                        <div class="two_title"><em>3</em></div>
                        <span>15,000,0<i></i></span>
                        <div class="two_pic_img">
                            <div class="corner none"><i></i></div>
                            <img src="../images/c3.png" alt="">
                            <img src="../images/u3.png" alt="" class="none">
                        </div>

                    </li>
                    <li>
                        <div class="two_title"><em>4</em></div>
                        <span>20,000,0<i></i></span>
                        <div class="two_pic_img">
                            <div class="corner none"><i></i></div>
                            <img src="../images/c4.png" alt="">
                            <img src="../images/u4.png" alt="" class="none">
                        </div>

                    </li>
                </ul>
                <a href="javascript:;" class="two_btn_appoint bg2_4" id="appoint" style="display: none;"></a>
                <div class="two_text bg2_5">
                    <p>活動规则：</p>
                    <p>1.活動時間：2019年11月12日12:00开始至12月10日23:59分结束。</p>
                    <p>2.參與活動請務必填寫正確的行動電話號碼，確認提交后不可再次修改，避免遺漏訊息。</p>
                    <p>3.活動結束后，遊戲上市及好康資訊將以簡訊的方式統一發送到您預留的行動電話上，請注意查收。</p>
                    <p>4.預約成就解鎖獎勵為全服發放 ，伺服器正式開放后前三日註冊的角色登入遊戲即可透過郵件領取。</p>
                    <P>獎勵檔次將按照最高觸發檔位進行發放（例最終預約人數達到20萬，即發放20萬一檔獎勵，不累計發放）。</p>
                    <p>5.活動最終解釋權歸MoreFun Game所有。</p>
                </div>
            </div>
        </div>


        <div class="section thre">
            <div id="appoint_now">
                <div class="m_appoint_now">
                    <div class="step_font bgt_1">
                        只要完成FB登入、正確輸入您的手機號碼即可完成預約
                        <span class="font">豐富好康送給您！</span>
                    </div>
                    <div class="step1 bgt_2">
                        <a href="#" class="loginFb" id='loginFb'></a>
                        <div class="fb_btn">

                            <div class="fb-like" data-href="https://www.facebook.com/codeseed.tw" data-width=""
                                data-layout="button_count" data-action="like" data-size="large" data-show-faces="false"
                                data-share="true"></div>


                            <div id="fb-root"></div>
                            <script async defer crossorigin="anonymous"
                                src="https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v5.0"></script>
                        </div>

                    </div>
                    <div class="step2 bgt_3">
                        <a href="javascript:;" class="select"><span id="select">台灣</span><em id="select_em"></em></a>
                        <ul id="backgroundImg" style="display: none;">
                            <li id="taiwan" class="">台灣</li>
                            <li id="xianggang" class="">香港</li>
                            <li id="aomen" class="active">澳門</li>
                            <li id="xianggang" class="">新加坡</li>
                            <li id="aomen" class="">馬來西亞</li>
                        </ul>
                        <div class="con">
                            <div>
                                <form action="javascript:;" id="myForm">
                                    <div class="c_width">
                                        <span class="areaphone" id="areaphone">+886</span>
                                        <input type="text" placeholder="請填寫0後的9位數行動電話號碼" class="phone" id="phone"
                                            maxlength="9">
                                    </div>
                                </form>
                                <input type="button" class="btn_appoint" id="submit">
                                <!-- <a href="javascript:;" class="btn_appoint" ></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section three">
            <div class="three_con" id="characters">
                <ul class="characters_list">
                    <li class="bg3 bg3_l_r">
                        <a href="#" title="攻擊">
                            <span class="topIndex topgj" id="gongji_t"></span>
                            <img src="../images/a1.png" alt="" class="a1">
                            <img src="../images/l1.png" alt="" class="u1">
                            <p>攻擊<i></i></p>
                        </a>

                    </li>
                    <li class="bg3_1 bg3_center">
                        <a href="#" title="防禦">
                            <span class="topIndex topfy" id="fangyu_t"></span>
                            <img src="../images/a2.png" alt="" class="a1">
                            <img src="../images/l2.png" alt="" class="u1">
                            <p>防禦<i></i></p>
                        </a>
                    </li>
                    <li class="bg3_2 bg3_l_r">
                        <a href="#" title="輔助">
                            <span class="topIndex" id="fuzhu_t"></span>
                            <img src="../images/a3.png" alt="" class="a1">
                            <img src="../images/l3.png" alt="" class="u1">
                            <p>輔助<i></i></p>
                        </a>
                    </li>
                </ul>
                <div class="characters_detail" style="display: none;">
                    <ul class="left">
                        <li class="active0"></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="con">
                        <div class="right fuzhu">
                            <div class="swpier_fuzhu all">
                                <div class="swiper-container swiper-container-list gallery" id="gallery">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fuzhu/lt1_lahaier.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>

                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fuzhu/lt2_niudun.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fuzhu/lt3_xiunv.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fuzhu/lt4_kaisa.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                                <div class="swiper-container swiper-container-thumbs thumbs" id="thumbs">
                                    <img src="../images/zh_b_yuan.png" alt="" class="bot_yuyeu">
                                    <img src="../images/zh_b_yuan_bg.png" alt="" class="bot_bg">
                                    <div class="swiper-wrapper" style="transition-duration: 0ms;">
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fuzhu/l1lahaier.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        拉海爾
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        悠木碧
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fuzhu/l2niudun.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        牛頓
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        日高里菜
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fuzhu/l3xiunv.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        希普顿修女
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        夏怜
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fuzhu/l4kaisa.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        凱撒
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        斎藤千和
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                            </div>
                            <div class="Detail" style="display: none;">
                                <div class="img_tab">
                                    <img src="../images/fuzhu/d3_xiunv1.png" alt="" id="fuzhu_first">
                                    <img src="../images/fuzhu/d3_xiunv2.png" alt="" style="display:none" id="fuzhu_two">
                                </div>

                                <div class="d_con">
                                    <em class="top_d"></em>
                                    <em class="top_b"></em>
                                    <em class="top_audio"></em>
                                    <i class="top_close"></i>
                                    <dl>
                                        <dt>
                                            <h3><em class="l"></em>CV<span id="d_cv">夏怜</span><em class="r"></em></h3>
                                            <h2 class="text-gradient" data-text="希普頓修女" id='d_name'>希普頓修女</h2>
                                        </dt>
                                        <dd>
                                            <span class="text-gradient" data-text="簡介">簡介:</span>
                                            <span id='d_info'>第一個到達南極點的探險家的名字命名的火種少女。
                                                雖然外表年齡偏小，言談舉止卻喜歡裝成熟，模仿大人的樣子，並且會嘲諷別人孩子氣的行為；身體十分耐寒，喜歡下雪天，可以穿著夏裝從容的在雪中散步；雖然不願意承認，但其實十分喜歡喝牛奶，怕讓別人覺得自己是個沒斷奶的孩子，所以在別人面前總是裝作討厭牛奶的樣子。</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="年龄">年龄:</span><span
                                                id="d_age">16</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="身高">身高:</span><span
                                                id="d_height">155cm</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="性格">性格:</span><span
                                                id="d_character">逞强 冷静</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="人生信条">人生信条:</span><span
                                                id="d_motto">只要雪还在下…</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="武器">武器:</span><span
                                                id="d_weapon">冰凍射線槍</span>
                                        </dd>
                                    </dl>
                                    <ul>
                                        <li class="active">
                                            <a href="#"><img src="../images/fuzhu/d3_xiunv_icon1.png" alt=""
                                                    id="fuzhu_three"></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="../images/fuzhu/d3_xiunv_icon2.png" alt=""
                                                    id="fuzhu_four"></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="right fangyu none">
                            <div class="swiper_fangyu all" id='swpier_fangyu'>
                                <div class="swiper-container swiper-container-list gallery" id="gallery1">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fangyu/lt1_amengsen.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fangyu/lt2_fangao.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fangyu/lt3_qigefulide.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fangyu/lt4_xide.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                    </div>

                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>

                                <div class="swiper-container swiper-container-thumbs thumbs" id="thumbs1">
                                    <img src="../images/zh_b_yuan.png" alt="" class="bot_yuyeu">
                                    <img src="../images/zh_b_yuan_bg.png" alt="" class="bot_bg">
                                    <div class="swiper-wrapper" style="transition-duration: 0ms;">
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fangyu/l1amengsen.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        阿蒙森
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        上阪すみれ
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fangyu/l2fangao.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        梵高
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        夏怜
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fangyu/l3qigefulide.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        齐格弗里德
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        白椛ひとみ
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/fangyu/l4xide.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        熙德
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        斎藤千和
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                            </div>
                            <div class="Detail" id='swpier_fangyu_detail' style="display: none;">
                                <div class="img_tab">
                                    <img src="../images/fuzhu/d3_xiunv1.png" alt="" id="fangyu_first">
                                    <img src="../images/fuzhu/d3_xiunv2.png" alt="" style="display:none"
                                        id="fangyu_two">
                                </div>

                                <div class="d_con">
                                    <em class="top_d"></em>
                                    <em class="top_b"></em>
                                    <em class="top_audio"></em>
                                    <i class="top_close"></i>
                                    <dl>
                                        <dt>
                                            <h3><em class="l"></em>CV<span id="f_cv">夏怜</span><em class="r"></em></h3>
                                            <h2 class="text-gradient" data-text="希普頓修女" id='f_name'>希普頓修女</h2>
                                        </dt>
                                        <dd>
                                            <span class="text-gradient" data-text="簡介">簡介:</span>
                                            <span id='f_info'>第一個到達南極點的探險家的名字命名的火種少女。
                                                雖然外表年齡偏小，言談舉止卻喜歡裝成熟，模仿大人的樣子，並且會嘲諷別人孩子氣的行為；身體十分耐寒，喜歡下雪天，可以穿著夏裝從容的在雪中散步；雖然不願意承認，但其實十分喜歡喝牛奶，怕讓別人覺得自己是個沒斷奶的孩子，所以在別人面前總是裝作討厭牛奶的樣子。</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="年龄">年龄:</span><span
                                                id="f_age">16</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="身高">身高:</span><span
                                                id="f_height">155cm</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="性格">性格:</span><span
                                                id="f_character">逞强 冷静</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="人生信条">人生信条:</span><span
                                                id="f_motto">只要雪还在下…</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="武器">武器:</span><span
                                                id="f_weapon">冰凍射線槍</span>
                                        </dd>
                                    </dl>
                                    <ul>
                                        <li class="active">
                                            <a href="#"><img src="../images/fuzhu/d3_xiunv_icon1.png" alt=""
                                                    id="fangyu_three"></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="../images/fuzhu/d3_xiunv_icon2.png" alt=""
                                                    id="fangyu_four"></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="right gongji none">
                            <div class="swiper_gongji all" id="swiper_gongji">
                                <div class="swiper-container swiper-container-list gallery" id="gallery2">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/gongji/lt1_aiyinsitan.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/gongji/lt2_jialilve.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/gongji/lt3_dechuanjiakang.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/gongji/lt4_napolun.png" alt="轮播图">
                                                <em name="audio none"></em>
                                            </a>
                                        </div>
                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>

                                <div class="swiper-container swiper-container-thumbs thumbs" id="thumbs2">
                                    <img src="../images/zh_b_yuan.png" alt="" class="bot_yuyeu">
                                    <img src="../images/zh_b_yuan_bg.png" alt="" class="bot_bg">
                                    <div class="swiper-wrapper" style="transition-duration: 0ms;">
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/gongji/l1aiyinsitan.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        愛因斯坦
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        小清水亜美
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/gongji/l2jialilve.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        伽利略
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        金元寿子
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/gongji/l3dechuanjiakang.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        德川家康
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        井上麻里奈
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="javascript:;">
                                                <img src="../images/gongji/l4napolun.png" alt="轮播图">
                                                <div class="name">
                                                    <span class="l" name="name_l">
                                                        拿破仑
                                                    </span>
                                                    <span class="r" name="name_r">
                                                        日高里菜
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                            </div>
                            <div class="Detail" id='swpier_gongji_detail' style="display: none;">
                                <div class="img_tab">
                                    <img src="../images/fuzhu/d3_xiunv1.png" alt="" id="gongji_first">
                                    <img src="../images/fuzhu/d3_xiunv2.png" alt="" style="display:none"
                                        id="gongji_two">
                                </div>

                                <div class="d_con">
                                    <em class="top_d"></em>
                                    <em class="top_b"></em>
                                    <em class="top_audio"></em>
                                    <i class="top_close"></i>
                                    <dl>
                                        <dt>
                                            <h3><em class="l"></em>CV<span id="g_cv">夏怜</span><em class="r"></em></h3>
                                            <h2 class="text-gradient" data-text="希普頓修女" id='g_name'>希普頓修女</h2>
                                        </dt>
                                        <dd>
                                            <span class="text-gradient" data-text="簡介">簡介:</span>
                                            <span id='g_info'>第一個到達南極點的探險家的名字命名的火種少女。
                                                雖然外表年齡偏小，言談舉止卻喜歡裝成熟，模仿大人的樣子，並且會嘲諷別人孩子氣的行為；身體十分耐寒，喜歡下雪天，可以穿著夏裝從容的在雪中散步；雖然不願意承認，但其實十分喜歡喝牛奶，怕讓別人覺得自己是個沒斷奶的孩子，所以在別人面前總是裝作討厭牛奶的樣子。</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="年龄">年龄:</span><span
                                                id="g_age">16</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="身高">身高:</span><span
                                                id="g_height">155cm</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="性格">性格:</span><span
                                                id="g_character">逞强 冷静</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="人生信条">人生信条:</span><span
                                                id="g_motto">只要雪还在下…</span>
                                        </dd>
                                        <dd>
                                            <span class="text-gradient" data-text="武器">武器:</span><span
                                                id="g_weapon">冰凍射線槍</span>
                                        </dd>
                                    </dl>
                                    <ul>
                                        <li class="active">
                                            <a href="#"><img src="../images/fuzhu/d3_xiunv_icon1.png" alt=""
                                                    id="gongji_three"></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="../images/fuzhu/d3_xiunv_icon2.png" alt=""
                                                    id="gongji_four"></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section four pageone">
            <ul id="four_ul">
                <li class="page-role bg4_1">
                    <img src="../images/world-bg.jpg" alt="" class="nav_img3">
                    <div class="pic">
                        <img src="../images/s1.png" alt="" class="nav_img3">
                    </div>
                    <div class="txt">
                        <span class="name">月源石</span>
                        <span class="eng">- xiushi yingw -</span>
                    </div>
                </li>
                <li class="page-role bg4_2">
                    <img src="../images/world-bg.jpg" alt="" class="nav_img3">
                    <div class="pic">
                        <img src="../images/s2.png" alt="" class="nav_img3">
                    </div>
                    <div class="txt">
                        <span class="name">種火計劃</span>
                        <span class="eng">- xiushi yingw -</span>
                    </div>
                </li>
                <li class="page-role bg4_3">
                    <img src="../images/world-bg.jpg" alt="" class="nav_img3">
                    <div class="pic">
                        <img src="../images/s3.png" alt="" class="nav_img3">
                    </div>
                    <div class="txt">
                        <span class="name">神啟公司</span>
                        <span class="eng">- xiushi yingw -</span>
                    </div>
                </li>
                <li class="page-role bg4_4">
                    <img src="../images/world-bg.jpg" alt="" class="nav_img3">
                    <div class="pic">
                        <img src="../images/s4.png" alt="" class="nav_img3">
                    </div>
                    <div class="txt">
                        <span class="name">喪尸</span>
                        <span class="eng">- xiushi yingw -</span>
                    </div>
                </li>
                <li class="page-role bg4_5">
                    <img src="../images/world-bg.jpg" alt="" class="nav_img3">
                    <div class="pic">
                        <img src="../images/s5.png" alt="" class="nav_img3">
                    </div>
                    <div class="txt">
                        <span class="name">安全區</span>
                        <span class="eng">- xiushi yingw -</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="section five active0">
            <div class="last_con">
                <em></em>
                <em></em>
                <ul id="data_ul">
                    <li class="bg5_1">
                        <a href="#">
                            <img src="../images/1.jpg" alt="">
                        </a>
                    </li>
                    <li class="bg5_2">
                        <a href="#">
                            <img src="../images/2.jpg" alt="">
                        </a>
                    </li>
                    <li class="bg5_2">
                        <a href="#">
                            <img src="../images/3.jpg" alt="">
                        </a>
                    </li>
                    <li class="bg5_1">
                        <a href="#">
                            <img src="../images/4.jpg" alt="">
                        </a>
                    </li>
                    <li class="bg5_3">
                        <a href="#">
                            <img src="../images/5.jpg" alt="">
                        </a>
                    </li>
                    <li class="bg5_2">
                        <a href="#">
                            <img src="../images/6.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/7.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/8.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../images/9.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section footer last fp-auto-height">
            <img src="../images/footer.jpg" alt="">
            <div class="footer_in">
                <a href="http://www.gamemorefun.com/front/introduce" class="intr">公司介绍</a>
                <a href="http://www.gamemorefun.com/front/relation" class="concat">联系我们</a>
                <a href="javascript:;" class="service">服务条款</a>
                <a href="http://www.gamemorefun.com/front/policy" class="private">隐私政策</a>
            </div>
        </div>
    </div>

    <div class="mask">
    </div>
    <!-- 视频弹框 -->
    <div class="video">
        <i>X</i>
        <iframe src="../video/video.mp4"></iframe>
    </div>

    <!-- 预约弹框 -->
    <!-- <div id="appoint_pop" class="appoint_pop" style="display: none;">
        <div class="tip-box">
            <img src="../images/pop_bg.png" alt="">
            <i name="close"></i>
            <div id="appoint_now">
                <div class="m_appoint_now">

                    <div class="step1">
                        <a href="#" class="loginFb"></a>
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous"
                            src="https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v5.0"></script>

                        <div class="fb-like" data-href="https://www.facebook.com/codeseed.tw" data-width=""
                            data-layout="button_count" data-action="like" data-size="small" data-show-faces="true"
                            data-share="true"></div>
                    </div>

                    <div class="step2">
                        <a href="javascript:;" class="select" id="select">台灣</a>
                        <ul id="backgroundImg" style="display: none;">
                            <li id="taiwan" class="active">台灣</li>
                            <li id="xianggang" class="">香港</li>
                            <li id="aomen" class="">澳門</li>
                            <li id="xianggang" class="">新加坡</li>
                            <li id="aomen" class="">馬來西亞</li>
                        </ul>
                        <div class="con">
                            <div>
                                <form action="javascript:;" id="myForm">
                                    <div class="c_width">
                                        <span class="areaphone" id="areaphone">+852</span>
                                        <input type="text" placeholder="請填寫8位數電話號碼" class="phone" id="phone"
                                            maxlength="9">
                                    </div>
                                </form>
                                <input type="button" class="btn_appoint" id="submit">
                                <a href="javascript:;" class="btn_appoint" ></a> -->
    <!-- </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="btn_fbShare" onclick="fbShare()"></a> 
        </div>
    </div> -->

    <!-- 预约成功弹框 -->
    <div id="appoint_success_pop" style="display: none;">
        <div class="tip-box">
            <img src="../images/pop_appoint_success.png" alt="">
            <i name="close"></i>
            <a href="javascript:;" class="btn_ios btn" onclick="fbShare()"></a>
            <a href="javascript:;" class="btn_gp btn" onclick="fbShare()"></a>
            <a href="javascript:;" class="btn_apk btn" onclick="fbShare()"></a>
        </div>
    </div>

    <!-- 世界弹出框 -->
    <div id="world_pop" class="world_pop" style="display: none;">
        <div class="tip-box">
            <!-- <img src="../images/world_bg.png" alt="" class="bg"> -->
            <img src="../images/w_l.png" alt="" class="w_l">
            <img src="../images/w_r.png" alt="" class="w_r">
            <i name="close"></i>
            <div class="world_con">
                <div class="left">
                    <img src="" alt="" id="w_img">
                </div>
                <div class="right">
                    <h2 id="w_h2">神啟公司</h2>
                    <p class="txt" id="w_txt">既然已沒有生命 又何必再畏懼死亡既然已沒有生命 又何必再畏懼死亡</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 资料大图弹出框 -->
    <div id="data_pop" class="data_pop" style="display: none;">
        <div class="tip-box">
            <img src="" alt="" class="zl" id="data_img">
            <i name="close"></i>
        </div>
    </div>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        window.fbAsyncInit = function () {
            FB.init({
                appId: '596196177797821',
                cookie: true, // 启用cookie
                xfbml: true, // 解析此页面上的社交插件
                version: 'v2.8' // 使用图形api 2.8版本
            });
        };
    </script>
</body>

</html>