<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
    <style>
        html,
        body {
            overflow: hidden;
        }
       
    </style>
</head>

<body>
    <div id="root">
        <div class="loading">
            <div class="wrap" style="opacity: 0.4;">
            </div>
            <div class="wrap_in" style="opacity: 0.4;"></div>
            <div class="pro_mask">
                <span class="progress">0</span>%
            </div>
        </div>

        <!-- <div id="scroll2Top-btn" style="display: none;">
            返回按钮
        </div> -->
    </div>
</body>

</html>