body{
    display: flex;
    transition: all 1s;
    transform: translate(50%) rotate(30deg);
    user-select: none;
}
.bgAdd{
    width: 180px;
    height: 100px;
    /* background: url(../../images/dezhou.jpg);
    background-size:100% 100%;  */
}