html {
    overflow-x: hidden;
    overflow-y: auto;
}

#fullpage em {
    display: inline-block;
}

#fullpage .one {
    position: relative;
}

#fullpage .one .one-title-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../images/index_01.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#fullpage .one .one-title-background:after {
    content: '';
    background-image: url('../../images/bk-mask.png');
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#fullpage .one .one-title-background .one-background-video {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#fullpage .one .one-title-button {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: all ease-in-out 0.3s 0.6s;
    -moz-transition: all ease-in-out 0.3s 0.6s;
    -o-transition: all ease-in-out 0.3s 0.6s;
    -ms-transition: all ease-in-out 0.3s 0.6s;
    transition: all ease-in-out 0.3s 0.6s;
}

#fullpage .one .one-title-button .one-title-button-play {
    display: block;
    position: absolute;
    width: 1.28rem;
    height: 1.08rem;
    left: 50%;
    top: 47%;
    text-decoration: none;
    -webkit-transform: translate(-48%, -50%);
    -moz-transform: translate(-48%, -50%);
    -o-transform: translate(-48%, -50%);
    -ms-transform: translate(-48%, -50%);
    transform: translate(-48%, -50%);
    background: url('../../images/btn-video.png') no-repeat;
    -webkit-background-size: 1.28rem 1.08rem;
    -moz-background-size: 1.28rem 1.08rem;
    background-size: 1.28rem 1.08rem;
    background-position: center;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

#fullpage .one .one-title-button .one-title-button-play:hover {
    opacity: 1;
    filter: none;
}

#fullpage .one .one_logo {
    position: absolute;
    top: .37rem;
    right: .39rem;
    width: 3.37rem;
    height: 1.62rem;
    /* background: url(../../images/logo.png) no-repeat;
    background-size: 100% 100%; */
}

#fullpage .one .one_download {
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 100%;
    height: 1.27rem;
    background: url(../../images/download-bg.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .one .one_download .one_con {
    width: 7.5rem;
    position: relative;
    left: 50%;
    bottom: -.29rem;
    margin-left: -3.75rem;
}

#fullpage .one .one_download .one_con em {
    display: block;
    position: absolute;
    top: -.25rem;
    right: 0;
    width: .2rem;
    height: .85rem;
    background: url(../../images/arrow.png) no-repeat;
    background-size: 100% 100%;
    animation: start 1.5s infinite ease-in-out;
}

#fullpage .one .one_download .one_con a {
    display: inline-block;
    position: absolute;
    width: 1.65rem;
    height: .51rem;
}

#fullpage .one .one_download .one_con a i {
    display: block;
    left: .1rem;
    top: .05rem;
}

#fullpage .one .one_download .one_con a:nth-of-type(1) {
    left: 0;
    background: url(../../images/btn-ios.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .one .one_download .one_con a:nth-of-type(1) i {
    width: .32rem;
    height: .39rem;
    position: absolute;
    background: url(../../images/btn-ios-sim.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .one .one_download .one_con a:nth-of-type(2) {
    left: 1.79rem;
    background: url(../../images/btn-gp.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .one .one_download .one_con a:nth-of-type(2) i {
    width: .32rem;
    height: .34rem;
    position: absolute;
    left: .05rem;
    top: .09rem;
    background: url(../../images/btn-gp-sim.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .one .one_download .one_con a:nth-of-type(3) {
    left: 3.58rem;
    background: url(../../images/btn-fb.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .one .one_download .one_con a:nth-of-type(3) i {
    width: .25rem;
    height: .25rem;
    position: absolute;
    top: .13rem;
    left: 1.26rem;
    background: url(../../images/btn-fb-sim.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .one .one_download .one_con a:nth-of-type(4) {
    top: -.38rem;
    left: 5.58rem;
}

#fullpage .one .one_download .one_con a:nth-of-type(4) i {
    display: block;
}

#fullpage .one .one_download .one_con a:nth-of-type(4) i.video_wrap {
    position: relative;
    width: 1.05rem;
    height: 1.23rem;
    background: url(../../images/vbtn1.png) no-repeat;
    background-size: 100% 100%;
    animation: rotate 8s linear infinite both;
}

#fullpage .one .one_download .one_con a:nth-of-type(4) i.video_in {
    position: absolute;
    width: .6rem;
    height: .79rem;
    top: .288rem;
    left: .35rem;
    font-size: .2637rem;
    color: #ffffff;
    font-style: normal;
    /* background: url(../../images/vbtn2.png) no-repeat; */
    /* background-size: 100% 100%; */
}

#fullpage .two {
    position: relative;
    height: 10.8rem;
    background: url(../../images/index_02.jpg) no-repeat;
    background-size: cover;
}

#fullpage .two .two_num_bg {
    position: absolute;
    /* top: .56rem; */
    left: 1.08rem;
    width: 3.45rem;
    height: 2.25rem;
    color: #e5e5e5;
    font-size: .82rem;
    text-align: center;
    background: url(../../images/two-num-bg.png) no-repeat;
    background-size: 100% 100%;

}

#fullpage .two ul li .two_pic_img {
    width: 2.56rem;
    height: 1.62rem;
    position: relative;
    top: 1.6rem;
    cursor: pointer;
}

#fullpage .two ul li .corner {
    position: absolute;
    width: 2.56rem;
    height: 1.62rem;
    top: 0;
    background:
        linear-gradient(135deg, transparent 16px, rgba(30, 30, 30, .75) 0) top left,
        linear-gradient(-135deg, transparent 16px, rgba(30, 30, 30, .75) 0) top right,
        linear-gradient(-45deg, transparent 16px, rgba(30, 30, 30, .75) 0) bottom right,
        linear-gradient(45deg, transparent 16px, rgba(30, 30, 30, .75) 0) bottom left;
    background-size: 50.1% 50.1%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 1s;
}

#fullpage .two ul li .two_pic_img:hover .corner {
    transition: all 1s;
    width: 0;
}

#fullpage .two ul li .two_pic_img:hover .corner i {
    opacity: 0;
    transition: all .2s;
}

#fullpage .two ul li .corner i {
    position: absolute;
    width: .51rem;
    height: .49rem;
    top: 50%;
    left: 50%;
    margin-left: -.255rem;
    margin-top: -.245rem;
    background: url(../../images/lock.png) no-repeat;
    background-size: 100% 100%;
    transition: all .2s;
}

#fullpage .two .two_pos {
    position: absolute;
    top: .71rem;
    left: 6.13rem;
    width: 4.38rem;
    height: 3.41rem;
    color: #e5e5e5;
    font-size: .82rem;
    text-align: center;
    background: url(../../images/pos.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .two .two_pos_chilun {
    position: absolute;
    /* top: .2rem; */
    left: 5.12rem;
    width: 4.54rem;
    height: 3.35rem;
    color: #e5e5e5;
    font-size: .82rem;
    text-align: center;
    background: url(../../images/pos-chilun.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .two .two_l {
    position: absolute;
    top: .2rem;
    left: 0;
    width: 2.78rem;
    height: 1.65rem;
    background: url(../../images/decro-l.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .two .two_l_b {
    position: absolute;
    top: .3rem;
    left: .3rem;
    width: 3.61rem;
    height: 10.02rem;
    background: url(../../images/dero_left.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .two .two_r {
    position: absolute;
    bottom: .2rem;
    right: 0;
    width: 4.88rem;
    height: 1.03rem;
    background: url(../../images/decro-r.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .two .two_r_t {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 2.45rem;
    height: 2.77rem;
    background: url(../../images/dero_right-top.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .two .two_r_b {
    position: absolute;
    top: 6.5rem;
    right: 0;
    width: 1.5rem;
    height: 1.78rem;
    background: url(../../images/dero_right_bot.png) no-repeat;
    background-size: 100% 100%;
}




#fullpage .two .two_num {
    position: absolute;
    top: .64rem;
    /* left: .2rem; */
    right: .4rem;
    display: block;
    width: 2.85rem;
    color: #ffffff;
    font-size: .935rem;
    text-align: right;
    border-bottom: 0.15rem solid #333;
    -webkit-border-image: url(../../images/note.png) 25 repeat;
    -o-border-image: url(../../images/note.png) 25 repeat;
    border-image: url(../../images/note.png) 25 repeat;
}

/* #fullpage .two .two_num_bg i{
    display: inline-block;
    width:1.505rem;
    height: .12rem;
    background: url(../../images/note.png) repeat;
    background-size:100% 100%;
    transition: 1s all cubic-bezier(.46, 1, .23, 1.52);
    border: 1px solid #161718;
    background-color: #161718; 
    padding: .1rem .2rem;
    box-sizing: border-box;
    margin-top: 1.65rem;
} */



#fullpage .two .two_num img {
    margin: 0 .06rem;
    width: .39rem;
    height: .82rem;
}

#fullpage .two ul {
    display: flex;
    width: 12.08rem;
    height: 4.51rem;
    position: absolute;
    left: 50%;
    margin-left: -6.04rem;
    background: url(../../images/x3.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .two ul li {
    position: absolute;
    list-style-type: none;
}

#fullpage .two ul li:nth-child(1) {
    top: 3.61rem;
    right: 9.51rem;
}

#fullpage .two ul li:nth-child(1) div.two_title {
    text-align: center;
    right: .8rem;
}

#fullpage .two ul li:nth-child(2) {
    top: 2.31rem;
    right: 6.32rem;
}

#fullpage .two ul li:nth-child(2) div.two_title {
    text-align: center;
    padding-right: .12rem;
    padding-top: .23rem;
}

#fullpage .two ul li:nth-child(3) {
    top: 1.35rem;
    right: 3.25rem;
}

#fullpage .two ul li:nth-child(3) div.two_title {
    text-align: center;
    padding-right: .06rem;
}

#fullpage .two ul li:nth-child(4) {
    right: 0;
    top: .3rem;
}

#fullpage .two ul li .two_title {
    position: absolute;
    /* left: 50%; */
    width: .78rem;
    height: .81rem;
    top: 0;
    right: .76rem;
}

#fullpage .two ul li .two_title:nth-child(4) {
    top: .33rem;
}

#fullpage .two ul li .two_title .circle {
    background-color: #df2d2d;
    border-radius: 100% 100%;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}

#fullpage .two ul li .two_title .circle1 {
    animation: circle-move1 2s 0s infinite ease-in;
    width: 1rem;
    height: 1rem;
    background: #df2d2d;
    position: absolute;
    top: -.12rem;
    left: -.12rem;
}

#fullpage .two ul li .two_title .circle2 {
    -webkit-animation: circle-move1 2s 0s infinite ease-in;
    animation: circle-move1 2s 0s infinite ease-in;
    width: .8rem;
    height: .8rem;
    background: #df2d2d;
    position: absolute;
    top: -.018rem;
    left: -.018rem;
}

#fullpage .two ul li .two_title em {
    display: inline-block;
    width: .68rem;
    height: .81rem;
    line-height: .66rem;
    text-align: center;
    font-size: .24rem;
    font-style: normal;
    color: #ffffff;
    background: url(../../images/liyuan.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: .1rem;
}

#fullpage .two ul li .two_title em.on {
    width: .56rem;
    height: .74rem;
    background: url(../../images/liyuan_on.png) no-repeat;
    background-size: 100% 100%;
    background-size: 100% 100%;
    line-height: .74rem;
    padding-left: .1rem;
    border-radius: 100%;
    animation: faguang 1.2s infinite;
}

#fullpage .two ul li span {
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    top: .98rem;
    right: .45rem;
}

#fullpage .two ul li span i {
    display: inline-block;
    width: .2rem;
    height: .04rem;
    background: #df2d2d;
    left: 50%;
    margin-left: -.1rem;
    position: absolute;
    bottom: -.1rem;
}

#fullpage .two .two_btn_appoint {
    position: absolute;
    width: 1.87rem;
    height: .68rem;
    left: 50%;
    margin-left: 4.22rem;
    /* top: 5.74rem; */
    background: url(../../images/btn-appoint-num.png) no-repeat;
    background-size: 100% 100%;
}

#fullpage .two .two_text {
    width: 7.59rem;
    height: 2.33rem;
    line-height: .1rem;
    font-size: .16rem;
    color: #fff;
    position: absolute;
    left: 3.45rem;
    /* top: 7.3rem; */
}


.two .two_con {
    position: absolute;
    width: 12.36rem;
    height: 9.89rem;
    left: 50%;
    top: 50%;
    margin-left: -6.18rem;
    margin-top: -4.945rem;
}

#fullpage .three {
    position: relative;
    height: 1080px;
    background: url(../../images/index_03.jpg) no-repeat;
    background-size: cover;
}

#fullpage .three .characters_list {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 9.4rem;
    top: 50%;
    margin-top: -4.7rem;
}

#fullpage .three .characters_list li {
    position: absolute;
    width: 8rem;
    height: 10.8rem;
}

#fullpage .three .characters_list li p {
    position: absolute;
    left: 5rem;
    top: 7.5rem;
    color: #ffffff;
    font-size: .3rem;
    top: 7.7rem;
}

#fullpage .three .characters_list li a {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

#fullpage .three .topIndex {
    width: 4rem;
    height: 4rem;
    display: block;
    position: absolute;
    z-index: 99999;
    left: 2.2rem;
    top: 20%;
    border-radius: 100%;
}

#fullpage .three .topgj {
    left: 1.6rem;
    top: 19%;
}

#fullpage .three .topfy {
    left: 1.2rem;
    top: 26%;
}

#fullpage .three .characters_list li a img {
    transition: all 0.9s;
}

#fullpage .three .characters_list li a .a1.off {
    opacity: 0;
}

#fullpage .three .characters_list li a .u1.on {
    opacity: 1;
    filter: none;
}

#fullpage .three .characters_list li a img:nth-of-type(2) {
    position: absolute;
    left: 0rem;
    top: 0;
    opacity: 0;
}

#fullpage .three .three_con {

    position: relative;

    width: 100%;
    height: 100%;
    /* background-color: #141516;
    background-size: 100% 100%; */
}


#fullpage .three .characters_list li:nth-child(2) p {
    left: 4.3rem;
}

#fullpage .three .characters_list li:nth-child(3) p {
    left: 5.3rem;
}

#fullpage .three .characters_list li p i {
    content: "";
    position: absolute;
    top: .5rem;
    left: .15rem;
    display: block;
    width: 0;
    height: .04rem;
    background: #9c2624;
    transition: all 1s;
}

/* #fullpage .three .characters_list li a span:hover p:after {
    left: 19%;
    transition: all 1s;
    width: 60%;
} */

#fullpage .three .characters_list li a p i.active {
    left: 19%;
    transition: all 1s;
    width: 60%;
}

#fullpage .three .characters_list li img {
    cursor: pointer;
}

#fullpage .three .characters_list li:nth-child(1) {
    left: .33rem;
    width: 7.69rem;
    height: 10.19rem;
}

#fullpage .three .characters_list li:nth-child(2) {
    left: 6.13rem;
    width: 7.69rem;
    height: 10.8rem;
}

#fullpage .three .characters_list li:nth-child(3) {
    left: 10.08rem;
    width: 7.69rem;
    height: 10.8rem;
}

#fullpage .four {
    position: relative;
    height: 1080px;
    background: url(../../images/index_04.jpg) no-repeat;
    background-size: cover;
}

#fullpage .five {
    position: relative;
    height: 1080px;
    background: url(../../images/index_05.jpg) no-repeat;
    background-size: cover;
}

#fullpage #myMenu ul li {
    width: 62px;
    height: 30px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 70px !important;
    height: 30px !important;
    margin: 7px;
    position: relative;
    margin-top: 29px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    height: 30px;
    width: 70px;
    margin: -10px 0 0 -10px;
    border-radius: inherit;
    font-size: 24px;
    color: #000 !important;
    background: #fff;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: inherit;
    position: relative;
    z-index: 1;
    height: 30px;
    width: 70px;
    border: 0;
    left: 20%;
    top: 50%;
    font-size: 24px;
    background: none;
    margin: -2px 0 0 -2px;
    color: #fff;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.fp-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: inherit;
    /* white-space: nowrap; */
    border: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative;
    margin-top: 29px;
}

#fp-nav ul li:last-child {
    display: none;
}

footer {
    position: absolute;
    width: 100%;
    height: 1.28rem;
    line-height: 1.28rem;
    text-align: center;
    color: #fff;
    font-size: .12rem;
}

.five .last_con ul li {
    overflow: hidden;
}
.four ul li.on{
    opacity: .6;
}

.four ul li >img{
transition: all 1s;
}
 .four ul li:hover >img{
    transform: scale(1.1,1.1);
} 
/*.four ul li img.nav_img3{
    transition: all 0.9s;
    transition: transform .9s ease 0s;
} */
.five .last_con ul li:hover img {
    transform: scale(1.1, 1.1);
}

.five .last_con ul li img {
    transition: all 0.9s;
    transition: transform .9s ease 0s;
}

.five .last_con ul li a {
    transition: all 0.9s;
    opacity: 1;
}

.five .last_con ul li a.on {
    opacity: .4;
}

#fp-nav ul li a span:nth-child(2) {
    width: .03rem;
    height: .27rem;
    background: #fff;
    display: inline-block;
    margin-left: .08rem;
    top: .18rem;
}

#fp-nav ul li a span:nth-child(2):before {
    content: '';
    position: absolute;
    right: .05rem;
    width: .06rem;
    height: .06rem;
    background: #ffffff;
}

#fp-nav ul li:hover a.active span:nth-child(2) {
    background: none;
    border-radius: inherit !important;
}

#fp-nav ul li:nth-child(3):hover a.active span:nth-child(2) {
    background: none;
    border-radius: inherit !important;
}

#fp-nav ul li a.active span:nth-child(1) {
    padding-left: .15rem !important;
}

/* 底部 */
.footer a {
    width: .9rem;
    height: .3rem;
    position: absolute;
    top: .0;
    /* text-indent: -10000px; */
    opacity: 1;
    cursor: pointer;
}

.footer .footer_in {
    position: absolute;
    width: 4.1rem;
    margin: 0 auto;
    overflow: hidden;
    height: .3rem;
    left: 5.7rem;
    top: .28rem;
    text-indent: -9999px;
}

.footer .intr {
    left: 0;
}

.footer .concat {
    left: .9rem;
    width: 1.1rem;
}

.footer .service {
    left: 2rem;
    width: 1rem;
}

.footer .private {
    right: 0;
    width: 1rem;
}

/* 弹框css */

.tip-box {
    position: fixed;
    z-index: 21;
    left: 50%;
    margin-left: -4.375rem;
    width: 8.65rem;
    height: 4.49rem;
    /* transform: translate3d(-50%,-50%,0); */
}

.appoint_pop .tip-box {
    position: fixed;
    width: 8.34rem;
    height: 6.45rem;
    z-index: 21;
    left: 50%;
    top:50%;
    margin-left: -4.17rem;
    margin-top:-3.225rem;
    /* transform: translate3d(-50%,-50%,0); */
}

.tip-box>img {
    width: 100%;
}

.tip-box i {
    display: inline-block;
    position: absolute;
    z-index: 9999999;
    width: .45rem;
    height: .43rem;
    top: -.1rem;
    right: -.1rem;
    cursor: pointer;
    background: url(../../images/pop_close.png) no-repeat;
    background-size: 100% 100%;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.tip-box i:hover {
    transform: rotate(180deg);
}

.tip-box .btn_fbShare {
    display: inline-block;
    position: absolute;
    width: 210px;
    height: 87px;
    left: 50%;
    top: 326px;
    margin-left: -84px;
    cursor: pointer;
}

.tip-box a.btn {
    display: inline-block;
    position: absolute;
    width: 1.9rem;
    height: .62rem;
    bottom: .78rem;
    cursor: pointer;
}

.tip-box .btn_ios {
    left: 1.39rem;
}

.tip-box .btn_gp {
    left: 3.36rem;
}

.tip-box .btn_apk {
    left: 5.38rem;
}

#appoint_now {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6.2rem;
}

#appoint_now .m_appoint_now {
    width: 5.47rem;
    height: 5.12rem;
    position: absolute;
    z-index: 1;
    top: 1.37rem;
    left: 50%;
    margin-left: -2.35rem;
    text-align: center;
}

#appoint_now .m_appoint_now .c_width {
    display: flex;
    position: absolute;
    width: 100%;
    height: .37rem;
    top: 2.08rem;
    color: #fff;
    width: 3.5rem;
    margin-left: 2rem;
    line-height: .37rem;
}

#appoint_now .con .c_width span {
    display: inline-block;
    width: .9rem;
    font-size: .26rem;
    color: #000000;
    font-family: \\5FAE\8F6F\96C5\9ED1;
    padding-left: .1rem;
    padding-top: .01rem;
}

#appoint_now .con .c_width input {
    display: inline-block;
    width: 100%;
    padding-top: .03rem;
    font-size: .26rem;
    color: #000000;
    font-family: \\5FAE\8F6F\96C5\9ED1;
    background: none;
    border: none;
}

#appoint_now .con .c_width input::-webkit-input-placeholder {
    color: #000000;
}

#appoint_now .m_appoint_now a.select{
    width: 1.53rem;
    height: .37rem;
    top: 2.09rem;
    position: absolute;
    left: .29rem;
    line-height: .37rem;
    color: #000;
    font-size: .22rem;
    text-decoration: none;
    text-indent: -.25rem;
}

#appoint_now .m_appoint_now ul {
    width: 1.53rem;
    height: 1.90rem;
    top: 2.46rem;
    position: absolute;
    left: .29rem;
    background: url(../../images/select_down.png) no-repeat;
    background-size:100% 100%;

}
#appoint_now .m_appoint_now .loginFb{
    position: absolute;
    z-index: 99999;
    width: 3.01rem;
    height: .64rem;
    display: block;
    cursor: pointer;
}
#appoint_now .m_appoint_now ul.taiwan {
    /* background: url(../imgs/a_taiwan.png) no-repeat;
    background-size: 100% 100%; */
}

#appoint_now .m_appoint_now ul.xianggang {
    /* background: url(../imgs/a_xianggang.png) no-repeat;
    background-size: 100% 100%; */
}

#appoint_now .m_appoint_now ul.aomen {
    /* background: url(../imgs/a_aomen.png) no-repeat;
    background-size: 100% 100%; */
}

#appoint_now .m_appoint_now ul li {
    font-size: .22rem;
    cursor: pointer;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: .38rem;
    line-height: .43rem;
    margin: 0 .04rem;
    color: #000000;
}
#appoint_now .m_appoint_now ul li.active{
    width: 100%;
    height: .38rem;
    padding-left: 0;
    margin-left: 0;
    color:#fff;
    background: url(../../images/sel_on.png) no-repeat;
    background-size: 100% 100%;
}

#appoint_now .m_appoint_now ul li.leftBorder {
    border-radius: .1rem;
    /* background: linear-gradient(-35deg, transparent 5px,#c8c8c8 0); */
}

#appoint_now .m_appoint_now ul li.rightBorder {
    border-radius: .1rem;
    /* background: linear-gradient(-35deg, transparent 5px,#c8c8c8 0); */
}

#appoint_now .m_appoint_now ul li.current {
    margin-top: 0;
    /* height: 44px;
    background-position: 6px -30px; */
}

#appoint_now .m_appoint_now ul li.current {
    color: #fff;
}

#appoint_now .btn_appoint {
    display: block;
    width: 2.63rem;
    height: .78rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1.45rem;
    background: none;
    opacity: 0;
    cursor: pointer;
    background: blue;
}

.text-gradient {
    font-family: '微软雅黑';
    font-size: 10em;
    position: relative;
}

.text-gradient[data-text]::after {
    content: attr(data-text);
    color: #c1201d;
    position: absolute;
    left: 0;
    z-index: 2;
    -webkit-mask-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#e44d42), to(rgba(193, 32, 29, 0)));
}