.four ul {
  width: 12rem;
  height: 8.26rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6rem;
  margin-top: -4.13rem;
}
.four ul li {
  position: absolute;
  width: 2.02rem;
  height: 2.88rem;
  text-align: center;
  cursor: pointer;
}
.four ul li:nth-child(1) {
  top: 1rem;
}
.four ul li:nth-child(2) {
  left: 4.94rem;
}
.four ul li:nth-child(3) {
  top: 0.9rem;
}
.four ul li:nth-child(4) {
  top: 4.52rem;
}
.four ul li:nth-child(5) {
  top: 5.37rem;
}
.four ul li .pic {
  width: 1.09rem;
  height: 1.33rem;
  position: absolute;
  top: 0.45rem;
  left: 50%;
  margin-left: -0.55rem;
}
.four ul li .txt {
  position: absolute;
  top: 2rem;
  left: 50%;
  margin-left: -0.56rem;
}
.four ul li span {
  display: block;
}
.four ul li .name {
  font-size: 0.26rem;
  color: #f0f0f0;
}
.four ul li .eng {
  font-size: 0.14rem;
  color: #9c2624;
}
.five .last_con {
  width: 17.3rem;
  position: absolute;
  left: 50%;
  margin-left: -8.65rem;
  top: 50%;
  height: 8.08rem;
  margin-top: -4.04rem;
}
.five .last_con em {
  display: block;
  position: absolute;
  width: 3.89rem;
  height: 3.07rem;
}
.five .last_con em:nth-child(1) {
  text-align: center;
  background: url(../../images/z-l.png) no-repeat;
  background-size: 100% 100%;
  left: 0;
  top: 0;
}
.five .last_con em:nth-child(2) {
  text-align: center;
  background: url(../../images/z-r.png) no-repeat;
  background-size: 100% 100%;
  right: 0;
  top: 5rem;
}
.five .last_con ul {
  width: 16.4rem;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0.28rem;
  margin-left: -8.2rem;
}
.five .last_con ul li {
  position: absolute;
  text-align: center;
  background: #000;
  cursor: pointer;
  overflow: hidden;
}
.five .last_con ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.five .last_con ul li:nth-child(1) {
  width: 2.88rem;
  height: 4.72rem;
  top: 0;
}
.five .last_con ul li:nth-child(2) {
  width: 5.22rem;
  height: 2rem;
  top: 0;
  left: 2.88rem;
}
.five .last_con ul li:nth-child(3) {
  width: 5.22rem;
  height: 2.72rem;
  top: 2rem;
  left: 2.88rem;
}
.five .last_con ul li:nth-child(4) {
  width: 2.9rem;
  height: 4.72rem;
  left: 8.1rem;
  top: 0;
}
.five .last_con ul li:nth-child(5) {
  width: 5rem;
  height: 2.14rem;
  left: 11rem;
  top: 0;
}
.five .last_con ul li:nth-child(6) {
  width: 5rem;
  height: 2.6rem;
  left: 11rem;
  top: 2.14rem;
}
.five .last_con ul li:nth-child(7) {
  width: 4.28rem;
  height: 2.32rem;
  left: 0;
  top: 4.72rem;
}
.five .last_con ul li:nth-child(8) {
  width: 8.1rem;
  height: 2.32rem;
  left: 4.28rem;
  top: 4.72rem;
}
.five .last_con ul li:nth-child(9) {
  width: 3.62rem;
  height: 2.32rem;
  left: 12.38rem;
  top: 4.72rem;
}
.last {
  position: relative;
  width: 100%;
  height: 0.98rem;
}
.world_pop .tip-box {
  width: 100%;
  margin-left: 0;
  height: 6.07rem;
  left: 0;
  top: 50%;
  margin-top: -3.035rem;
}
.world_pop .tip-box .w_l {
  width: 10.13rem;
  height: 3.44rem;
}
.world_pop .tip-box .w_r {
  width: 12.4rem;
  height: 3.49rem;
  position: absolute;
  top: 0.88rem;
  left: 7rem;
}
.world_pop .tip-box .zl {
  width: 16.25rem;
  height: 7.39rem;
}
.world_pop .tip-box .bg {
  width: 100%;
  height: 6.07rem;
}
.world_pop .tip-box i {
  top: 0.4rem;
  right: 0.1rem;
}
.world_pop .tip-box #w_img {
  width: 4.52rem;
  height: 5.6rem;
}
.world_pop .tip-box .world_con {
  position: absolute;
  top: 0;
  width: 11.7rem;
  height: 4rem;
  left: 50%;
  margin-left: -5.85rem;
}
.world_pop .tip-box .world_con .left {
  width: 4.78rem;
  height: 5.79rem;
}
.world_pop .tip-box .world_con .left img {
  transform-origin: center bottom;
  transform: scaleX(0);
}
.world_pop .tip-box .world_con .left img.active {
  transition: all 0.9s;
  transform: none;
}
.world_pop .tip-box .world_con .right {
  position: absolute;
  top: 2.13rem;
  right: -2.6rem;
  width: 9rem;
}
.world_pop .tip-box .world_con .right h2 {
  display: block;
  width: 6rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.4rem;
  color: #000000;
  background: url(../../images/w_font.png) no-repeat;
  background-size: 100% 100%;
  transform-origin: center bottom;
  transform: scaleY(0);
}
.world_pop .tip-box .world_con .right h2.active {
  transition: all 0.9s;
  transform: none;
}
.world_pop .tip-box .world_con .right p.txt {
  width: 100%;
  font-size: 0.22rem;
  color: #000000;
  font-family: '思源黑体';
  letter-spacing: 0.06rem;
  margin-top: 0.3rem;
  transform-origin: center bottom;
  transform: scaleY(0);
}
.world_pop .tip-box .world_con .right p.txt.active {
  transition: all 0.9s;
  transform: none;
}
.data_pop .tip-box {
  width: 16.03rem;
  height: 7.04rem;
  left: 50%;
  top: 50%;
  margin-left: -8.015rem;
  margin-top: -3.52rem;
}
.data_pop .tip-box i {
  top: -0.5rem;
  right: 0;
}
.data_pop .tip-box .zl {
  width: 100%;
}
.three .three_con .characters_detail {
  width: 14.36rem;
  height: 10rem;
  position: absolute;
  left: 50%;
  margin-left: -7.18rem;
  top: 50%;
  margin-top: -5rem;
}
.three .three_con .characters_detail .left {
  position: relative;
  width: 4.4rem;
  height: 2.6rem;
  top: 0.67rem;
  cursor: pointer;
  z-index: 99999;
}
.three .three_con .characters_detail .left li {
  position: absolute;
  width: 1.76rem;
  height: 1.76rem;
}
.three .three_con .characters_detail .left li:nth-child(1) {
  width: 1.67rem;
  height: 1.67rem;
  background: url(../../images/fuzhu/l_fuzhu_icon.png) no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.three .three_con .characters_detail .left li:nth-child(1).active0 {
  background: url(../../images/fuzhu/l_fuzhu_icon_active.png) no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 0;
}
.three .three_con .characters_detail .left li:nth-child(2) {
  width: 1.67rem;
  height: 1.67rem;
  background: url(../../images/fangyu/l_fangyu_icon.png) no-repeat;
  background-size: 100% 100%;
  top: 0;
  left: 1.86rem;
}
.three .three_con .characters_detail .left li:nth-child(2).active1 {
  background: url(../../images/fangyu/l_fangyu_icon_active.png) no-repeat;
  background-size: 100% 100%;
}
.three .three_con .characters_detail .left li:nth-child(3) {
  width: 1.67rem;
  height: 1.67rem;
  background: url(../../images/gongji/l_gongji_icon.png) no-repeat;
  background-size: 100% 100%;
  top: 0.9rem;
  left: 0.935rem;
}
.three .three_con .characters_detail .left li:nth-child(3).active2 {
  background: url(../../images/gongji/l_gongji_icon_active.png) no-repeat;
  background-size: 100% 100%;
}
.three .three_con .characters_detail .right {
  width: 12.2rem;
  height: 9.7rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -6.1rem;
}
.three .three_con .characters_detail .right .name {
  position: absolute;
  top: -4.33rem;
  right: 0;
  font-size: 0.26rem;
  width: 0.81rem;
  height: 2.45rem;
  background: url(../../images/char_name.png) no-repeat;
  background-size: 100% 100%;
}
.three .three_con .characters_detail .right .name span {
  display: inline-block;
  position: absolute;
}
.three .three_con .characters_detail .right .name span.l {
  right: 0;
  padding-top: 0.5rem;
  padding-right: 0.08rem;
  color: #000;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.three .three_con .characters_detail .right .name span.r {
  left: 0;
  color: #fff;
  width: 0.42rem;
  padding-right: 0.07rem;
  padding-top: 0.95rem;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
